/* pàrraf de color roig */
h1{
    color: red;
}

/* identificar id */

p#parraf_especial{
    color: green;
}

p#parrafoespecial{
    color: yellow;
}
/* span */

span{
    color: red;
}

/* clase */
p.blau{
    color: blue;
}

p.especial1{
    font-style: oblique;
}

p.especial1{
    color: red;
}


/* clase universal */

.verde{
    color: green;
}

p.definicion{
    color: green;
}

body{
    background-color: aquamarine;
}