/* pàrraf de color roig */
h1{
    color: red;
}

/* identificar id */

p#parraf_especial{
    color: green;
}

p#parrafoespecial{
    color: yellow;
}
/* span */

span{
    color: red;
}

/* clase */
p.blau{
    color: blue;
}


